
/* Color fondo pagina */

body{

    background-color: rgba(59, 104, 59, 0.322);
}

/* identificacion especial */

#especial{
    color: blueviolet;
    letter-spacing: 50px;
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* primera imagen a la izquierda */
img.santamaria{
    float: left;

}
/* h1 */
h1.iglesias{
    background-color: hsla(102, 27%, 34%, 0.822);
    color: white;
    font-weight: bolder;
}

/* span */

span.resaltar{
    font-weight: bold;
    font-style: italic;
}

/* Segunda imagen centrada */

p.santacroce{
    text-align: center;
}

/* Tercera imagen derecha */
img.santamarianovella{
    float: right;
}